<div class="page-header">
  <h1>Breweries</h1>
</div>

<ul class="nav nav-tabs nav-justified" role="tablist">
	<li class="active"><%= link_to "All", breweries_path %></li>
	<li><%= link_to "Polish", breweries_polish_path %></li>
	<li><%= link_to "Foreign", breweries_foreign_path %></li>
</ul>

<%= render 'list' %>
