<div class="page-header">
  <h1>All breweries listing<br/>
  <small>Want just the <%= link_to "Polish", breweries_polish_path %> or <%= link_to "foreign", breweries_foreign_path %> breweries?</small>
</div>

<%= render 'list' %>
