<div class="page-header">
  <h1>Polish breweries listing<br/>
  <small>Want just the <%= link_to "foreign", breweries_foreign_path %> breweries, or <%= link_to "all of them", breweries_path %>?</small></h1>
</div>

<%= render 'list' %>
