<% if @beer.errors.any? %>
    <% @beer.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

<div class="page-header">
	<h1>Now editing <em><%= @beer.nazwa %></em> <br/> <small><%= link_to 'or go back', beers_path %></small></h1>
</div>

<%= render 'form' %>