<div class="page-header">
  <h1>All beers listing<br/>
  <small>Want just the <%= link_to "Polish", beers_polish_path %> or <%= link_to "foreign", beers_foreign_path %> beers?</small>
  </h1>
</div>


<%= render 'list' %>