<div class="page-header">
  <h1>All beers listing</h1>
</div>

<%= paginate @brewskies %>

<table class="table table-striped">
  <tr>
    <th>Beer name</th>
    <th>Brewery</th>
  </tr>
 
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.nazwa, beer_path(beer) %></td>
      <td><%= beer.brewery_name %></td>
    </tr>
  <% end %>
</table>

<%= paginate @brewskies %>