<div class="page-header">
  <h1>Polish beers listing<br/>
  <small>Want just the <%= link_to "foreign", beers_foreign_path %> beers, or <%= link_to "all of them", beers_path %>?</small></h1>
</div>

<%= render 'list' %>