<div style="width: 500px; text-align: center; margin: 0 auto">
<img src="/assets/sadcat.jpg" class="denied-image"/>

<h1 style="font-size: 63px">403. <small>That's an error.</small></h1>

<p>Somehow, somewhere, something went wrong. <br/><br/> 
Maybe you just didn't get the right password from me. Or maybe you mistyped it. Or maybe, just maybe, you were trying to see if this site was completely unprotected. <br/><br/>
Either way, you just made this kitty very sad. <br/><br/>

<strong>You monster.</strong>
</div>