<div class="page-header">
<h1>About this page</h1>
</div>

<h2>Hi!</h2>

<p>I'm <a href="http://paweljw.eu">Paweł J. Wal</a>, the guy behind Beer on Rails and <a href="http://github.com/paweljw">various other projects</a>.</p>

<div class="page-header">
<h1>Why build this?</h1>
</div>

<h3>That's a lot of stickers</h3>
<p>I've been collecting beer bottle stickers for over a year now, amassing over 500 of them.</p>
<p>Since I cannot remember all of them - seeing as they can be <a href"/beers/160-krolewskie">ever</a> <a href"/beers/161-krolewskie">so slight</a> <a href"/beers/162-krolewskie">variations</a> in color and style between seasons - I've decided to create an interactive catalog which I can also use from a smartphone while shopping.</p>

<h3>Early days</h3>
<p>The precursor to this catalog, called BeerCat, was written in naked PHP (admittedly, it took under 24 hours to write). It was very limited, but served as the introductory interface for database creation. BeerCat is now archived and no longer online.</p>

<h3>A learning experience</h3>
<p>In July 2014 I decided to learn Rails by doing. Thus, Beer on Rails was born.</p>
<p>It's also under ongoing development - as I learn more about Rails, I try to make Beer on Rails better.</p>

<div class="page-header">
<h1>Credits</h1>
</div>

<h3>Icons</h3>
<p>Beer on Rails uses the marvellous <a href="http://famfamfam.com/lab/icons/">Silk icons by Mark James of famfamfam.com</a> almost exclusively. All the flags you see next to beers and breweries are his doing, too.</p>

<h3>Beer glass</h3>
<p>The iconic beer glass in the upper left corner was created by one <a href="http://pixabay.com/en/icon-glass-cup-mug-beer-liquor-36869/">Nemo</a>, who has also graciously published his work under a Creative Commons BY license.</p>

<h3>Gems</h3>
<p>The project uses a ton of various gems. I'd like to give a shout out to the authors of <a href="https://github.com/amatsuda/kaminari">Kaminari</a> and <a href="https://github.com/carrierwaveuploader/carrierwave">CarrierWave</a>, without whom I wouldn't be able to do a lot of what I wanted.</p>

<h3>The Book</h3>
<p>And last but not least, I'd like to thank Andy Lindeman, who in an altruistic gesture, so easily confused with a lapse of judgement nowadays, has published his awesome book, <a href="http://upgradingtorails4.com/">Upgrading to Rails 4</a>, as an open source book, thus making it available to students and non-professionals like me.</p>